.user-input {
    margin-top: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.dual-forms {
    width:100%;
    font-weight: bold;
}
.user-input form {
    width: 100%;
}
.input-group {
    display: inline-block;
    width: 40%;
}

#submit-button {
    margin-top: 30px;
    font-size: 2em;
    height: 40px;
    width: 30%;
    min-width: 130px;
    max-width: 300px;
}